%html
  %head
    %title Attachments Dashboard

    %link{:rel => "stylesheet", :type => "text/css", :href => "styles.css"}
         
  %body
    %p 
      You have
      = @files.count
      attachments.

    .attachments
      - @files.each_slice(2) do |files|
        - files.each do |file|
          %ul.attachment
            %li.filename
              = file["file_name"]
            %li.size
              Size: 
              = file["size"]
            %li.from
              From:
              = file["addresses"]["from"]["name"]
              = "&lt;#{file['addresses']['from']['email']}&gt;"
            %li.download
              %a{:href => "/download?file_id=#{file['file_id']}&content_type=#{file['type']}"} Download
        .clear
