%html
  %head
    %title Attachments Dashboard

    %link{:rel => "stylesheet", :type => "text/css", :href => "styles.css"}
         
  %body
    %p 
      You have
      = @messages.count
      attachments out of
      = @messages_total
      messages.

    .attachments
      - i = 0
      - @messages.each do |message|
        - message["files"].each do |file|
          %ul.attachment
            %li.subject
              = message["subject"]
            %li.from
              From:
              = message["addresses"]["from"]["name"]
              = "&lt;#{message['addresses']['from']['email']}&gt;"
            %li &nbsp;
            %li.filename
              = file["file_name"]
            %li.size
              Size: 
              = file["size"]
            %li.download
              %a{:href => "/download?file_id=#{file['file_id']}&content_type=#{file['type']}"} Download
