%html
  %head
    %title Attachments Dashboard

    %link{:rel => "stylesheet", :type => "text/css", :href => "styles.css"}

    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js", :type => "text/javascript"}
    %script{:src => "/javascripts.js", :type => "text/javascript"}
         
  %body
    %p
      You have 
      %span.files_count 10
      files in 
      = @messages.length
      messages.

    .attachments
      - i = 0
      - @messages.each do |message|
        - if message["files"]
          - message["files"].each do |file|
            %ul.attachment
              %li.subject
                = message["subject"]
              %li.from
                From:
                = message["addresses"]["from"]["name"]
                = "&lt;#{message['addresses']['from']['email']}&gt;"
              %li &nbsp;
              %li.filename
                = file["file_name"]
              %li.size
                Size: 
                = file["size"]
              %li.download
                %a{:href => "/download?file_id=#{file['file_id']}&content_type=#{file['type']}"} Download
